@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Neutral white background */
    color: #333;
}

header nav {
    background-color: #000; /* Black header */
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Make positioning relative for centering */
}

header h1 {
    font-family: 'Bebas Neue';
    font-size: 24px; /* Adjust size as needed */
    margin: 0;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.home-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Playfair Display', serif; /* Set the font to Playfair Display */
}

main {
    padding: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Added gap for spacing */
}

.about-section {
    flex: 1;
    max-width: 600px; /* Adjust the max-width to make the section narrower */
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
}

.location-aside {
    flex: 0 0 400px; /* Adjusted width for the aside */
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-aside iframe {
    width: 100%; /* Ensure iframe takes full width */
    height: 300px; /* Adjusted height for the iframe */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 0;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #666;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: stretch; /* Ensures full width */
    }

    .about-section {
        max-width: 100%;
        margin-bottom: 20px; /* Space below the about section */
    }

    .location-aside {
        width: 100%; /* Full width for the aside */
        flex: none; /* Disable flex properties */
    }

    .location-aside iframe {
        width: 100%; /* Ensure iframe takes full width */
        height: 200px; /* Set a fixed height for mobile */
    }
}
