@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}
#companyName, #comingSoon {
    font-size: 48px; /* Adjust the font size for 'companyName' as necessary */
    opacity: 0;
    visibility: hidden; /* Initially hidden but space reserved */
    text-align: center;
    transition: opacity 2s ease-in, visibility 0s 2s; /* Apply to both elements */
}
#companyName {
    font-family: 'Bebas Neue', sans-serif;
}
#comingSoon {
    font-size: 24px; /* Smaller font for 'coming soon' */
    font-family: 'Playfair Display', serif;
    transition-delay: 2s; /* Delay only the transition of 'coming soon' */
}
#doorImage {
    width: 600px;
    height: auto;
    cursor: pointer;
}
