@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    overflow: hidden; /* Prevents scrolling when the banner appears */
}

#doorImage {
    max-width: 100%; /* Ensures the image is responsive and centers properly */
    height: auto;
    cursor: pointer;
    margin-top: 150px; /* Adjust this value to move the door image further down */
}

#companyName, #comingSoon {
    font-size: 48px; /* Uniform size for company name */
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: opacity 1s ease-in, visibility 0s 0.2s; /* Smooth transitions */
}

#companyName {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10px; /* Reduces the space below the company name */
}

#comingSoon {
    font-size: 24px; /* Smaller font for 'coming soon' */
    font-family: 'Playfair Display', serif;
    transition-delay: 1s; /* Immediate transition once it starts */
    margin-top: 0px; /* Reduces the space above 'coming soon' */
}

/* Banner styling */
.banner {
    width: 100%;
    background-color: black;
    position: fixed;
    top: -50px; /* Initially hidden above the viewport */
    left: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1.5s ease-in-out; /* Smooth slide down */
}

.banner-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    #doorImage {
        width: 120%; /* Increase the width to make the image larger on mobile devices */
        margin-top: 50px; /* Adjust margin to fit the image properly */
    }
}

#doorVideo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-top: 150px; /* Adjust as needed to match the positioning of the original image */
    display: none; /* Initially hidden */
}
